@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rock+Salt&display=swap');

$dark-color: #0a1633;
$med-dark-color: #021b5c;
$med-color: #032a8c;
$light-color: #b8ccfc;
$white-color: #fff;

$space-small: 10px;
$space-medium: 20px;
$space-large: 40px;
$space-xl: 80px;

@mixin mobile {
  @media (max-width: 480px) { @content; }
}

@mixin desktop-small {
  @media (max-width: 1024px) { @content; }
}

@mixin tablet {
  @media (max-width: 768px) { @content; }
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-space-between-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}