#about {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: $space-xl;

    .blurb-container {
        width: 100%;
        animation: fade-in 1500ms;
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    @keyframes slide-right {
        from {
          margin-left: -100vw;
        }
        to {
          margin-left: 0;
        }
      }
}