#work-experience {
  margin-bottom: $space-xl + $space-large;

  .experience-blocks {
    min-width: 100%;
    flex-wrap: wrap;

    .experience-wrapper {
      width: 100%;
    }

    &.expanded {
      .experience-block {
        width: 100%;

        &:nth-child(odd) {
          margin-right: 0;
        }
      }
    }
  
    .experience-block {
      width: 100%;
      border-top: 3px solid $med-color;
      border-radius: 8px;
      padding: $space-medium;
      margin-bottom: $space-medium;
      background: linear-gradient(to bottom right, $dark-color, $med-dark-color, $med-color);
      opacity: 0;
      position: relative;
  
      img {
        height: 80px;
        margin-right: $space-medium;
      }
  
      h3 {
        margin: 0 0 5px;
      }
  
      p.job-title {
        margin: 5px 0 $space-medium;
      }

      ul.job-list-items {
        padding-bottom: 4px;
        max-height: 0;
        transition: max-height 3s;

        li {
          font-weight: 300;
          margin-bottom: $space-small;
        }
      }
  
      &:nth-child(odd) {
        background: linear-gradient(to bottom left, $dark-color, $med-dark-color, $med-color);
      }

      &:nth-child(1) {
        animation: 500ms fade-in 150ms forwards; 
      }
      &:nth-child(2) {
        animation: 500ms fade-in 300ms forwards; 
      }
      &:nth-child(3) {
        animation: 500ms fade-in 450ms forwards; 
      }
      &:nth-child(4) {
        animation: 500ms fade-in 600ms forwards; 
      }

      &.expanded {
        flex-direction: column;

        img {
          margin: 0 0 $space-small;
        }

        h3, p.job-title, p.job-dates, a.button-wrapper {
          text-align: center;
          margin: $space-small auto; 
        }

        p.job-dates/*,
        ul.job-list-items*/ {
          // opacity: 1;
          transition: opacity 1s;
        }

        a.button-wrapper {
          display: block;
        }

        ul.job-list-items {
          padding-inline-start: $space-medium;
          margin-top: $space-large;
          max-height: 3000px;
          transition: max-height 3s, opacity 1s;
        }

        .experience-caret {
          transform: rotate(-180deg);
        }
      }

      &:not(.expanded) {
          p.job-dates,
          ul.job-list-items {
            // display: none;
            height: 0;
            margin: 0;
            opacity: 0;
          }
      }
  
      .experience-caret {
        font-size: 30px;
        position: absolute;
        right: 20px;
        cursor: pointer;
        transition: all 1s;
  
        &:hover {
          color: $light-color;
        }
      }
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    @include desktop-small {
  
      .experience-block {

        &:not(.expanded) p.job-title {
          @include tablet {
            max-width: 150px;
          }
        }
  
        .experience-info {
          width: calc(100% - $space-xl);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
  
          .experience-text {
            // padding-top: 25px;
  
            @include tablet {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

