#work-experience {
  margin-bottom: $space-xl + $space-large;

  .experience-blocks {
    min-width: 100%;
    flex-wrap: wrap;
  
    .experience-block {
      width: calc(50% - $space-small);
      border-top: 3px solid $med-color;
      border-radius: 8px;
      padding: $space-medium;
      margin-bottom: $space-medium;
      background: linear-gradient(to bottom right, $dark-color, $med-dark-color, $med-color);
      opacity: 0;
  
      img {
        height: 80px;
        margin-right: $space-medium;
      }
  
      h3 {
        margin: 0 0 5px;
      }
  
      p {
        margin: 5px 0 $space-medium;
      }
  
      &:nth-child(odd) {
        margin-right: $space-medium;
        background: linear-gradient(to bottom left, $dark-color, $med-dark-color, $med-color);
      }

      &:nth-child(1) {
        animation: 500ms fade-in 150ms forwards; 
      }
      &:nth-child(2) {
        animation: 500ms fade-in 300ms forwards; 
      }
      &:nth-child(3) {
        animation: 500ms fade-in 450ms forwards; 
      }
      &:nth-child(4) {
        animation: 500ms fade-in 600ms forwards; 
      }
    }

    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  
    @include desktop-small {
      flex-direction: column;   
  
      .experience-block {
        width: 100%;
        display: flex;
        
        &:nth-child(odd) {
          margin-right: 0;
        }
  
        .experience-info {
          width: calc(100% - $space-xl);
          display: flex;
          align-items: center;
          justify-content: space-between;
  
          @include tablet {
            flex-direction: column;
            align-items: flex-start;
          }
  
          .experience-text {
            padding-top: 25px;
  
            @include tablet {
              padding-top: 0;
            }
          }
        }
      }
    }
  }
}

