#hero {
  padding-top: $space-large;
  margin-top: $space-xl;
  margin-bottom: 0;
  animation: fade-in 1500ms;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #fff;
    }
  }

  .intro {
    font-size: 24px;
    font-family: monospace;

    .highlight {
      font-family: monospace;
    }

    .blinking-cursor {
      animation: 1s blink 500ms step-end infinite;
    }
  }

  .img-container {
    position: relative;
  }

  .headshot-img {
    margin-right: $space-medium;
    // width: 50%;
  }

  .img-background {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient($med-color, $med-dark-color, $dark-color, $dark-color);
    bottom: -70px;
    left: -50px;
    z-index: -5;
  }

  .hero-right {
    padding-top: $space-large;
  }

  @include mobile {
    .hero-main {
      flex-direction: column;
    }
  }
}