@import 'base';
@import 'nav';

* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: $white-color;
  cursor: pointer;
  transition: all 750ms;

  &:hover {
    color: $light-color;
  }
}

p {
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
}

li {
  line-height: 1.3em;
}

button {
  padding: 12px $space-small $space-small;
  background: $med-color;
  border-radius: 8px;
  border: 1px solid $white-color;
  cursor: pointer;
  transition: all 750ms;
  color: $white-color;
  font-size: 16px;

  &:hover {
    background: $light-color;
    color: $dark-color;
    border-color: $light-color;
  }
}

.highlight {
  color: $light-color;
}

.flex-space-between-row {
  @include flex-space-between-row();
}

.flex-center-row {
  @include flex-center-row();
}

.flex-left-row {
  @include flex-left-row();
}

.flex-center-column {
  @include flex-center-column();
}

body {
  background: $dark-color;
  color: $white-color;
  margin: 0;
  z-index: -5;

  &.mobile-nav-open {
    overflow: hidden;
  }

  section {
    margin: $space-xl auto;
    padding: 0 $space-xl;
    max-width: 1200px;

    @include mobile {
      padding: 0 $space-medium;
      margin: $space-large auto;
    }
  }
}

.headshot-img {
  width: 200px;
}