<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sarah Santa Cruz - Full Stack Engineer</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <%- include('./partials/sections/nav', {'page':'home'}); %>
  <section id="hero">
    <%- include('./partials/sections/hero'); %>
  </section>
  <section id="homepage-blurb">
    <%- include('./partials/sections/blurb'); %>
  </section>
  <section id="work-experience">
    <%- include('./partials/sections/experience', {experienceData: experienceData}); %>
  </section>
  <section id="skills">
    Skills section goes here!
  </section>
  <section id="visual-element">
    An interesting visual element will go here...
  </section>
  <section id="projects">
    Projects will go here.
  </section>
  <section id="contact">
    Contact section will go here.
  </section>
  <script src="js/app.js"></script>
</body>
</html>