<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Sarah Santa Cruz</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" href="css/projects.css">
  </head>
  <body>
    <%- include('./partials/sections/nav', {'page':'projects'}); %>
    <div class="project-page-wrapper">
      <h1>Projects</h1>
      <%- include('./partials/sections/projects', {projectData: projectData}); %>
    </div>
  </body>
</html>