<div class="blurb-container">
  <p>A <span class="highlight">full stack developer</span> with 7 years of experience. I've worked for three different agencies as well as on startup and freelance projects. This has given me the opportunity to work on websites with millions of users and also build applications from scratch.</p>
</div>