<div class="blurb-container">
  <p>I'm a <span class="highlight">full stack developer</span> with 7 years of experience. I've worked for three different agencies serving large enterprise clients as well as on startup and freelance projects. This has given me the opportunity to work on websites with millions of users and also build applications from scratch. I'm a team player that is capable of being self-sufficient, and I love taking on a challenge.</p>
  <p>I'm currently <span class="highlight">open to interviews</span> for new positions!</p>
</div>