<div class="contact-container">
  <h2>Contact</h2>
  <p>I'm currently looking to join a team as a frontend or full stack developer. I'm also open to opportunities working on short term or smaller projects. If you're interested in working with me, please send an email to the address below!</p>
  <a class="link" href="mailto: sscwebdevelopment@gmail.com">sscwebdevelopment@gmail.com</a>
</div>