<div class="experience-container">
  <h2>Work Experience</h2>
  <div class="experience-blocks flex-center-column">
    <% for (item of experienceData) { %>
      <%- include('../components/experience-block', {item: item}) %>
    <% } %>
  </div>
</div>