<footer>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/sarahsantacruz/" target="_blank">
      <i class="devicon-linkedin-plain"></i>
    </a>
    <a href="https://github.com/sds0208" target="_blank">
      <i class="devicon-github-original"></i>
    </a>
  </div>
</footer>