<div class="hero-container">
  <p class="intro">Hello! I'm <span class="highlight">Sarah Santa Cruz</span>.</p>
  <div class="hero-main flex-left-row">
    <div class="img-container">
      <div class="img-background"></div>
      <img class="headshot-img" src="images/headshot-1.jpeg" alt="headshot of sarah">
    </div>
    <div class="hero-right">
      <p class="hero-pre-header">Full Stack Developer</p>
      <h1>Building modern web applications with the <span class="highlight">latest technologies</span></h1>
    </div>
  </div>
</div>