<nav class="flex-space-between-row">
  <div id="nav-logo" class="link"><span class="highlight">{</span> dev: ssc <span class="highlight">}</span></div>
  <div class="hamburger">
    <div class="hamburger-line line-1"></div>
    <div class="hamburger-line line-2"></div>
    <div class="hamburger-line line-3"></div>
  </div>
  <div class="nav-links">
    <a href="/" class="link nav-link <%- page === 'home' ? 'selected' : '' %>">Home</a>
    <a href="/about" class="link nav-link <%- page === 'about' ? 'selected' : '' %>">About</a>
    <a href="/projects" class="link nav-link <%- page === 'projects' ? 'selected' : '' %>">Projects</a>
  </div>
</nav> 