<div class="project-container">
    <div class="project-blocks">
      <% for (item of projectData) { %>
        <%- include('../components/project-block', {item: item}) %>
      <% } %>
    </div>
  </div>