<div class="skills-overlay"></div>
<div class="skills-container scroll-1">
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-less-plain-wordmark"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-angularjs-plain colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-express-original"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-npm-original-wordmark colored"></i>
    <i class="devicon-webpack-plain-wordmark colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-github-original-wordmark colored"></i>
    <span class="material-symbols-outlined">
        api
    </span>
    <img src="images/ab-testing.webp" alt="ab-testing icon">
    <img src="images/adobe-analytics.webp" alt="adobe analytics logo">
    <img src="images/adobe-target.webp" alt="adobe target logo">
    <img src="images/optimizely-logo.avif" alt="optimizely logo">
</div>
<div class="skills-container scroll-2">
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-less-plain-wordmark"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-angularjs-plain colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-express-original"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-npm-original-wordmark colored"></i>
    <i class="devicon-webpack-plain-wordmark colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-github-original-wordmark colored"></i>
    <span class="material-symbols-outlined">
        api
    </span>
    <img src="images/ab-testing.webp" alt="ab-testing icon">
    <img src="images/adobe-analytics.webp" alt="adobe analytics logo">
    <img src="images/adobe-target.webp" alt="adobe target logo">
    <img src="images/optimizely-logo.avif" alt="optimizely logo">
</div>