<div class="experience-block flex-left-row">
  <div class="experience-icon">
    <img src="<%=`images/${item.imgPath}`%>" alt="company logo">
  </div>
  <div class="experience-info">
    <div class="experience-text">
      <h3><%= item.name %></h3>
      <p><%= item.title %></p>
    </div>
    <a class="button-wrapper" href=""><button class="learn-more">More Details</button></a>
  </div>
</div>