<div class="experience-block">
  <div class="experience-info">
    <div class="experience-icon">
      
    </div>
    <div class="experience-text">
      <h3><%= item.name %></h3>
    <p><%= item.title %></p>
    </div>
  </div>
  <button><a href="">Learn More</a></button>
</div>