<div class="project-block flex-center-row">
    <div class="eyebrow-text sm-screen">Featured Project</div>
    <h2 class="sm-screen"><%= item.name %></h2>
    <div class="info-container">
        <div class="eyebrow-text lg-screen">Featured Project</div>
        <h2 class="lg-screen"><%= item.name %></h2>
        <div class="description">
            <div class="description-background"></div>
            <p><%= item.description %></p>
        </div>
        <a class="button-wrapper lg-screen" href=""><button class="learn-more">More Details</button></a>
    </div>
    <div class="image-container">
        <img class="project-img" src="<%=`images/${item.imgPath}`%>" alt="project screenshot">
    </div>
    <div class="img-background"></div>
    <a class="button-wrapper sm-screen" href=""><button class="learn-more">More Details</button></a>
</div>