<div class="project-block flex-center-row">
    <div class="info-container">
        <div class="eyebrow-text">Featured Project</div>
        <h3><%= item.name %></h3>
        <div class="description">
            <div class="description-background"></div>
            <p><%= item.description %></p>
        </div>
        <a class="button-wrapper" href=""><button class="learn-more">More Details</button></a>
    </div>
    <div class="image-container">
        <img src="<%=`images/${item.imgPath}`%>" alt="project screenshot">
    </div>
    <div class="img-background"></div>
</div>